table {
    box-sizing: border-box;
    margin: 20px;
    border-collapse: collapse;
    border-radius: 10px;
    border: 1px solid #69c;
    text-transform: none;
}

thead {
    background: linear-gradient(#FFE4C4, #b3ca59);
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

th, td {
    border: 2px solid #69c;
}

input {
    border-radius: 3px;
    background: #ffffff ;
    border: 1px solid #cccccc;
    outline: none;
    height: 24px;
    width: 20%;
    font-size: 11px;
    font-family: Tahoma;
}

fieldset {
    border: 1px #0066A2 solid;
    border-radius: 10px;
    width: 70%;
    padding: 20px;
    margin: 20px;
}

legend {
    padding: 0.2em 0.5em;
    border: 1px #0066A2 solid;
    color: #0066A2
    font-size: 50px;
    font: bold 110% serif;
    text-align:left;
    border-radius: 10px;
}